.tweets__container {
    margin: 0 200px 0 200px;
    display: flex;
}

.tweets__containerLeft {
    max-width: 300px;
    min-width: 200px;
    border-right: 1px solid lightgray;
    height: 100vh;
    position: sticky;
    top: 0;
}

.tweets__icons {
    display: flex;
    align-items: center;
    padding: 8px;
    max-width: 200px;
    min-width: 150px;
    max-height: 50px;
    min-height: 30px;
    margin-bottom: 20px;
}

.tweets__icons:hover {
    background-color: rgba(71, 71, 71, 0.103);
    border-radius: 22px;
    width: 170px;
    cursor: pointer;
    color: #55acee;
}

.tweets__icons > h3 {
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
}

.tweets__containerRight {
    border-right: 1px solid lightgray;
}

.tweets__containerRightHeader {
    border-bottom: 1px solid lightgray;
    width: 700px;
}

.tweets__containerRightHeader > h2 {
    margin-left: 20px;
}

.tweets__containerRightTweet {
    display: flex;
    padding: 10px;
}

.tweets__containerRightTweetText {
    margin-left: 10px;
}

.tweets__containerRightTweetText > textarea {
    width: 37vw;
    height: 70px;
    outline-width: 0;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: arial, x-locale-body, sans-serif;
    resize: none;
}

.tweets__containerRightTweetText > textarea:focus {
    border-bottom: 1px solid lightgray;
}

.tweets__containerRightTweetText > div > button {
    width: 100px !important;
    text-transform: inherit !important;
    background-color: #55acee !important;
    color: #fff;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.tweets__containerRightGap {
    height: 12px;
    background-color: rgb(157 183 192 / 20%);
}

.tweets__containerRightTweetsInfo {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.tweets__containerRightTweetsInfoContainer {
    margin-left: 20px;
}

.tweets__containerRightTweetsInfoHeader {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.tweets__containerRightTweetsInfoHeader > a > span {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
}

.tweets__containerRightTweetsInfoHeader > a > span:hover {
    text-decoration: underline !important;
}

.tweets__containerRightTweetsInfoHeader > div > span {
    margin-right: 10px;
    color: rgba(39, 39, 39, 0.74);
    font-weight: 600;
}

.tweets__containerRightTweetsInfoBody {
    margin-bottom: 10px;
    max-width: 600px;
    min-width: 500px;
}

.tweets__containerRightTweetsInfoFooter {
    width: 550px;
}

.tweets__containerRightTweetsInfoFooter > div {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
}

.retweet:hover {
    background-color: rgb(23 191 99 / 10%) !important;
}


.like:hover {
    background-color: rgb(255 82 62 / 10%) !important;
}

.tweets__containerRightTweetTextRetweetUsername {
    color: grey;
    text-decoration: none;
}

.tweets__containerRightTweetTextRetweetUsername:hover {
    text-decoration: underline;
}

.tweets__modalCloseButton > button {
    width: 100px !important;
    text-transform: inherit !important;
    background-color: #fff !important;
    color: #55acee;
    border-radius: 22px;
    border: 1px solid #55acee !important;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}